.container {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;

  &__image {
    max-width: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  &__left {
    padding: 20px;
  }

  &__right {
    padding: 20px;
    border-left: 1px solid lightgray;
  }
}

@media (max-width:720px) {
  .container {
    display: block;
    position: relative;
    padding-top: 100px;

    &__right {
      position: absolute;
      top: 10px;
      width: 100%;
      padding: 20px;
    }
  }
}
